@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans&display=swap');

html {
    background-color: rgb(240, 240, 240);
    font-family: 'Kanit', sans-serif;
}

table{
    text-align: center;
    background-color: white;
    color: black;
    border-collapse:collapse;
    border-color: gray;

}

th{
    padding: 10px;
   background-color: #57aaa3;
   color: white;
}

td{
    padding: 10px;
}

input[type="button"],button{
    margin-left: 20px;
    padding: 8px;
    border: none;
    background: #198b8b;
    color: white;
    cursor: pointer;
}