@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
/*font-family: 'Prompt', sans-serif;
*/
body{
    font-family: 'Prompt', sans-serif;
    background-color: #F6F6F6;
}
.nameshelf{
    font-size: 30px;
    margin-left: 507px;
    margin-right: 507px;
    margin-top: 120px;
    padding: 20px;
    background:#5aa8a2;
    box-shadow: 4px 5px 5px grey;
    text-align: center;
    color: white;
}
.bookdetail{
    margin: auto;
    padding: 30px;
    background: white;
    width: 30%;
    box-shadow: 4px 5px 5px grey;
}
.pname a{
    margin-left: 22px;
    font-size: 14px;
    text-decoration: none;
    color: black;
   
}
.pname a:hover{
    color: green;
}
.category a{
    text-decoration: none;
    color: black;
    margin-left: 22px;
    font-size: 14px;
}
.category a:hover{
    color: green;
}
.time{
    color: black;
    margin-left: 22px;
    font-size: 12px;
}
.nname a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nname a:hover{
    color: green;
}