@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans&display=swap');

html {
    background-color: rgb(240, 240, 240);
    font-family: 'Kanit', sans-serif;
}
.myboxtop {
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
    width: 40%;
    display: inline-block;
 
    left: 50%;
    right: 50%;
    box-shadow: 3px 5px 5px #838383;}

.myboxtop .mybox {
    padding: 20px;
    padding-top: 0px;
    padding-left: 60px;
}

h1 {
    margin: 40px;
    text-align: center;
}

.mybox a{
    text-decoration: none;
    color: black;
}

.myboxtop .labeltop {
    width: 11%;
    padding: 0px;
    border-radius: 15%;
    background-color: rgb(255, 166, 0);
}

.myboxtop h4{
    margin: 0px;
}

.cate {
    max-width: 1200px;
    margin-left: 15em;
    margin-right: auto;
}